<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>教育</key>
		<array>
			<string>学前教育</string>
			<string>中小学教育</string>
			<string>大学考试</string>
			<string>职业教育</string>
			<string>学历教育</string>
			<string>语言培训</string>
			<string>IT培训</string>
			<string>公务员考试</string>
			<string>出国留学</string>
		</array>
	</dict>
	<dict>
		<key>旅游</key>
		<array>
			<string>港澳台旅游</string>
			<string>国内游</string>
			<string>境外游</string>
			<string>户外探险</string>
			<string>主题旅游</string>
			<string>酒店住宿</string>
			<string>交通票务</string>
		</array>
	</dict>
	<dict>
		<key>金融</key>
		<array>
			<string>股票基金</string>
			<string>保险</string>
			<string>彩票</string>
			<string>期货外汇</string>
			<string>银行理财</string>
			<string>互联网金融</string>
		</array>
	</dict>
	<dict>
		<key>汽车</key>
		<array>
			<string>低档车</string>
			<string>中档车</string>
			<string>高档车</string>
			<string>豪华车</string>
			<string>二手车</string>
			<string>租车</string>
			<string>改装与保养</string>
		</array>
	</dict>
	<dict>
		<key>房产</key>
		<array>
			<string>普通住宅</string>
			<string>别墅豪宅</string>
			<string>商用房</string>
			<string>房产交易</string>
			<string>房屋租赁</string>
		</array>
	</dict>
	<dict>
		<key>家居</key>
		<array>
			<string>家装建材</string>
			<string>家居服务</string>
			<string>家具家纺</string>
			<string>家用电器</string>
			<string>家电维修</string>
			<string>生活用品</string>
		</array>
	</dict>
	<dict>
		<key>服饰鞋帽箱包</key>
		<array>
			<string>女装</string>
			<string>男装</string>
			<string>运动服</string>
			<string>内衣</string>
			<string>女鞋</string>
			<string>男鞋</string>
			<string>配饰</string>
			<string>户外旅行装备</string>
			<string>童装/童鞋</string>
			<string>运动鞋</string>
			<string>珠宝首饰</string>
			<string>女士箱包</string>
			<string>男士箱包</string>
			<string>功能箱包</string>
		</array>
	</dict>
	<dict>
		<key>餐饮美食</key>
		<array>
			<string>餐馆</string>
			<string>烹饪/菜谱</string>
			<string>食品烟草生鲜</string>
			<string>饮料</string>
			<string>酒水</string>
		</array>
	</dict>
	<dict>
		<key>生活服务</key>
		<array>
			<string>宠物医院/宠物食品及用品</string>
			<string>婚恋交友</string>
			<string>二手物品</string>
			<string>礼品</string>
			<string>移民出国</string>
			<string>家政</string>
			<string>O2O电商</string>
		</array>
	</dict>
	<dict>
		<key>商务服务</key>
		<array>
			<string>办公文教</string>
			<string>求职招聘</string>
			<string>建筑工程</string>
			<string>电子电工</string>
			<string>化工材料</string>
			<string>机械器材</string>
			<string>农林牧渔</string>
			<string>节能环保</string>
			<string>安全安保</string>
			<string>物流运输</string>
			<string>营销广告</string>
			<string>专业咨询</string>
			<string>展会服务</string>
		</array>
	</dict>
	<dict>
		<key>美容</key>
		<array>
			<string>减肥瘦身</string>
			<string>美容整形</string>
			<string>美发护发</string>
			<string>化妆护肤</string>
		</array>
	</dict>
	<dict>
		<key>互联网/电子产品</key>
		<array>
			<string>电脑硬件</string>
			<string>摄影摄像/数码配件</string>
			<string>手机及配件</string>
			<string>网络设备与服务</string>
			<string>电玩/游戏机/学习机</string>
			<string>软件</string>
			<string>办公设备</string>
		</array>
	</dict>
	<dict>
		<key>体育活动</key>
		<array>
			<string>球类运动</string>
			<string>健身健美</string>
			<string>水上运动</string>
			<string>跑步运动</string>
			<string>极限运动</string>
			<string>体育用品</string>
		</array>
	</dict>
	<dict>
		<key>医疗健康</key>
		<array>
			<string>成人用品/避孕/计生用品</string>
			<string>保健养生</string>
			<string>药品器械</string>
			<string>心理健康</string>
			<string>医疗诊治</string>
		</array>
	</dict>
	<dict>
		<key>母婴育儿</key>
		<array>
			<string>孕期/胎教/优生</string>
			<string>母婴护理</string>
			<string>玩具模型</string>
		</array>
	</dict>
	<dict>
		<key>游戏</key>
		<array/>
	</dict>
	<dict>
		<key>政法</key>
		<array/>
	</dict>
	<dict>
		<key>娱乐休闲</key>
		<array>
			<string>文玩古董</string>
			<string>书籍杂志</string>
			<string>电视剧</string>
			<string>动漫</string>
			<string>电影</string>
			<string>KTV</string>
			<string>综艺</string>
			<string>演出</string>
			<string>文化艺术</string>
			<string>娱乐八卦/星座笑话</string>
		</array>
	</dict>
	<dict>
		<key>招商加盟</key>
		<array/>
	</dict>
</array>
</plist>
